<style>
  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<div class="container">  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" *ngFor="let actu of actualite; let i= index" [ngClass]=" i ==0?'active' : ''"attr.data-slide-to={{i}}></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" >

    <div *ngFor="let actu of actualite; let i = index " [ngClass]=" i ==0?'item active' : 'item'"  >  
        <img  [src]="actu.imageUrl" style="width: 100%;" >
        <p class="text-center">{{actu.title}}</p>
    </div>
  </div> 
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <br>
  <br>

  <div class="row" *ngFor="let actu of actualite">
    <div class="column" >
      <img [src]="actu.imageUrl" class="img-rounded" alt="Cinque Terre">
      <p class="text-center">{{actu.title}}</p>
    </div>
  </div>
 
</div>