<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}} restaurant</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="catalogue">Catalogue</a></li>
      <li><a routerLink="inscription">Inscription</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

</div>

